# m h  dom mon dow   command

# Dashboard timezone is CDT

# 11:00 CDT (12:00 EDT) (5:00pm UTC) every day
0 11 * * * /bin/bash /home/kitware/bin/cronjob_docker_cleanup.sh > /home/kitware/bin/cronjob_docker_cleanup-log.txt

# 20:00 CDT (21:00 EDT) (2:00am UTC) every week
# 0 20 * * 0 /bin/bash /home/kitware/Support/slicer_package_manager/python_client/cleanNightly.sh $(cat /home/kitware/Dashboards/Slicer/Support/Kitware-SlicerPackagesManager-Url.txt)/api/v1 $(cat /home/kitware/Dashboards/Slicer/Support/Kitware-SlicerPackagesManager-ApiKey.txt) 20 -y

# 21:50 CDT (22:50 EDT) (3:50am UTC) every day
50 21 * * * (cd /home/kitware/Dashboards/Slicer/DashboardScripts && /usr/bin/git fetch origin && /usr/bin/git reset --hard origin/master > /home/kitware/Dashboards/Slicer/Logs/update-dashboardscripts.log 2>&1)

# 22:00 CDT (23:00 EDT) (4:00am UTC) every day
0 22 * * * /home/kitware/Dashboards/Slicer/DashboardScripts/metroplex.sh --with-itk-dashboard > /home/kitware/Dashboards/Slicer/Logs/metroplex.log 2>&1

# XXX Disable on 2018.03.30 by Jc: This script is now called from "Slicer/DashboardScripts/metroplex.sh"
# 23:10 CDT (00:10 EDT) (5:10am UTC) every day
# 10 23 * * * /home/kitware/Dashboards/KWDashboardScripts/metroplex.sh > /home/kitware/Dashboards/Logs/metroplex.log 2>&1
